<!--
{% set msg_breadcrumb = {
    l1: { nombre: "Inicio", url: "", desc: "Inicio de sistema" },
    l2: { nombre: "Primer Nivel", url: "", desc : "Nivel 2 de sistema" },
    l3: { nombre: "Segundo Nivel", url: "", desc : "Nivel 3 de sistema" },
    l4: { nombre: "Tercer Nivel", url: "", desc : "Nivel 4" }
} %}
{% set msg_breadcrumb = null %}
{% if msg_breadcrumb is defined %}
 <div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="icon-home home-icon"></i>
      <a href="{{ path('maestro_homepage') }}">Inicio</a>
      <span class="divider">
        <i class="icon-angle-right arrow-icon"></i>
      </span>
    </li>
    {% for item in msg_breadcrumb %}
      <li>
       <a href="{{ item.url }}">{{ item.nombre }}w</a>
       <span class="divider">
        <i class="icon-angle-right arrow-icon"></i>
       </span>
      </li>
    {% endfor %}
    .<li class="active">Blank Page</li>
  </ul>
  <div class="nav-search" id="nav-search">
	<form class="form-search" />
							<span class="input-icon">
								<input type="text" placeholder="buscar ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="icon-search nav-search-icon"></i>
							</span>
						</form>
					</div>
				</div>
{% endif %}
-->
