<div class="error-container">
 <div class="well">
  <h1 class="grey lighter smaller">
  <span class="blue bigger-125">
  <i class="icon-sitemap"></i>
											404
										</span>
										No encontramos un servicio para dar solucion a tu petición
									</h1>
										<hr />
									<div class="space"></div>
									<div class="space"></div>
									<div class="space"></div>
									<div class="space"></div>
									<div class="space"></div>
									<div class="row-fluid">
										<div class="center">
											 <button onclick="goBack()"  class="btn btn-grey">Regresar por donde vine</button><script>function goBack() { window.history.back(); }</script>
											 <a href="{{ path('maestro_homepage') }}" class="btn btn-primary"><i class="icon-dashboard"></i><span class="menu-text"> Inicio</span></a>
										</div>
									</div>
								</div>
</div>
