
<!-- sidebar menu: ejemplo de plantilla de enlaces -->
    <!-- <li>
        <a href="javascript:void(0)" class="waves-effect"><span class="hide-menu">Dashboard<span class="fa arrow"></span></span></a>

        <ul class="nav nav-second-level">
            <li> <a href="javascript:void(0)"><span class="hide-menu">Dashboard 1</span></a> </li>
            <li> <a href="javascript:void(0)"><span class="hide-menu">Dashboard 2</span></a> </li>
            <li> <a href="javascript:void(0)"><span class="hide-menu">Dashboard 3</span></a> </li>
        </ul>
    </li>                     -->

    <li>
        <a href="{{ path('trndistribucion_index') }}" class="waves-effect"><span class="hide-menu">Asignaciones</span></a> 
    </li>
<!-- /.sidebar -->
