  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Este sitio está totalmente basado en: </b><br/> <a href="http://es.wikipedia.org/wiki/Software_libre" target="_new">Software Libre</a><br/>  <a href="http://www.debian.org" target="_new">Debian GNU/Linux</a>, <a href="" target="_new">Symfony2</a>,<br/> <a href="" target="_new">PostgreSQL</a> entre otros ]
    </div>
    <b>Ministerio de Salud<br />
     Republica de El Salvador, C. A.<br />
     Calle Arce No.827, San Salvador, El Salvador, C.A.<br />
     <a title="Política de Seguridad y Privacidad del MINSAL - El Salvador" href="http://www.salud.gob.sv/?p=2847">Política de Seguridad y Privacidad</a>
  </footer>
