
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">        
        <li><a href=""><i class="fa fa-edit"></i> <span>Registrar consumo</span></a></li>
        <li><a href=""><i class="fa fa-circle-o text-yellow"></i> <span>Manual</span></a></li>
        <li><a href=""><i class="fa fa-circle-o text-aqua"></i> <span>Archivo</span></a></li>
        <li><a href=""><i class="fa fa-circle-o text-grey"></i> <span>Movimientos</span></a></li>
        <li><a href=""><i class="fa fa-circle-o text-aqua"></i> <span>Consumos</span></a></li>
        <li><a href=""><i class="fa fa-circle-o text-aqua"></i> <span>Existencias</span></a></li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
